@{
    ViewBag.Title = "Edit Class";
}

<h2>Edit Class</h2>
<input type="hidden" id="classId" value="@ViewBag.ClassId">
<div class="form-group">
    <label>Class Name</label>
    <input type="text" id="className" class="form-control">
</div>
<button id="updateClassBtn" class="btn btn-success mt-3">Update Class</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var classId = $("#classId").val();
          $.ajax({
            url: "/Class/GetClassById/" + classId, 
            type: "GET",
            success: function (data) {
                if (data.success === false) {
                    alert(data.message);
                } else {
                    $("#className").val(data.class_Name);
                }
            },
        });

        $("#updateClassBtn").click(function () {
            var className = $("#className").val();
            $.ajax({
                url: "/Class/edit",
                type: "POST",
                data: { Class_ID: classId, Class_Name: className },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        window.location.href = "/Class/Index";
                    } else {
                        alert("Error updating class.");
                    }
                }
            });
        });
    });
</script>
